{% extends "layout.html" %}
{% block title %}Hallinta{% endblock %}
{% block content %}

<h3>Hallinta - Työnjohtajien alue</h3>
<hr>

<div class="tooltip">
    <h4>Työnjohtajien hakutyökalut</h4>
    {% if session.get("show_tips",0) == '1': %}
    <span class="tooltiptext tooltip-right">Loput hakutoiminnot löytyvät Tuotanto-välilehdeltä</span>
    {% endif %}
</div>
<p>

<form id="seek_user" method="POST">
    <label for="users">Työvaiheet käyttäjän perusteella:</label>
    <select id="users" name="user_id" form="seek_user" onchange="this.form.submit()">
        <option value=""></option>
        {% for name in user_list %}
        <option value="{{ name[0] }}">{{ name[1] }}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="csrf_token" form="seek_user" value="{{ session.csrf_token }}">
</form>
<br>
<form>
    <label for="btn">Kaikki tilaukset:</label>
    <button type="submit" name="search" value="">Hae</button>
</form>

{% if search_data %}
<div class="tooltip">
  <h4>Kaikki tilaukset toimitusjärjestyksessä: </h4>
  {% if session.get("show_tips",0) == '1': %}
  <span class="tooltiptext tooltip-right">Hae tilauksen tapahtumat klikkaamalla ID:tä</span>
  {% endif %}
</div>

<table>
  <tr>
    <th>Toimitusaika</th>
    <th>ID</th>
    <th>Tilaustyyppi</th>
    <th>Asiakas</th>
    <th>Toimipiste</th>
    <th>Tila</th>
  </tr>

  {% for order in search_data %}
    {% if (now >= order[9]): %}
        <tr class="past">
            <td>{{ order[9].strftime("%d.%m.%Y %H:%M") }}</td>
            <td><a href="/seek/?order_id={{ order[0] }}">{{ order[0] }}</a></td>
            <td>{{ order[2] }} ({{ order[3] }})</td>
            <td>{{ order[5] }}</td>
            <td>{{ order[7] }} ({{ order[8] }})</td>
            {% if (order[11] == 1) %}
            <td class="in_progress">TYÖN ALLA</td>
            {% else %}
            <td class="sent">LÄHETETTY</td>
            {% endif %}
        </tr>
    {% else %} 
        <tr>
            <td>{{ order[9].strftime("%d.%m.%Y %H:%M") }}</td>
            <td><a href="/seek/?order_id={{ order[0] }}">{{ order[0] }}</a></td>
            <td>{{ order[2] }} ({{ order[3] }})</td>
            <td>{{ order[5] }}</td>
            <td>{{ order[7] }} ({{ order[8] }})</td>
            {% if (order[11] == 1) %}
            <td class="in_progress">TYÖN ALLA</td>
            {% else %}
            <td class="sent">LÄHETETTY</td>
            {% endif %}
        </tr>
    {% endif %} 
  {% endfor %}
  {% endif %}
</table>


{% endblock %}