{% extends "layout.html" %}
{% block title %}Kirjaudu{% endblock %}
{% block content %}

<h3>Muuta käyttäjän oikeuksia</h3>
<hr>
<label for="users">Käyttäjä:</label>

<select id="users" name="username" form="statusform">
  {% for name in user_list %}
  <option value="{{ name[0] }}">{{ name[0] }} :
    {% if (name[1] == 1): %} (työnjohtaja) {% elif (name[1] == 0): %} (peruskäyttäjä) {% else %} (ei oikeuksia)
    {% endif %}</option>
  <hr>
  {% endfor %}
</select>
<p>

  <label for="statuses">Uusi status:</label>

  <select name="new_status" id="statuses" form="statusform">
    <option value=0>peruskäyttäjä</option>
    <option value=1>työnjohtaja (admin)</option>
    <option value=99>ei oikeuksia</option>
    <hr>
  </select>
<p>


<form action="/change_status" method="post" id="statusform">

  <input type="submit" class="mainButton" value="Muuta status">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>


{% endblock %}