{% extends "layout.html" %}
{% block title %}Kirjaudu{% endblock %}
{% block content %}

<div class="row">
  <div class="column">
    <h4>Käyttäjien määrä: </h4> {{ user_counter }}
    <p>
    <h4>Eniten merkittyjä työvaiheita:</h4>
    <table class="minitable">     
      {% for name in hard_worker_list %}
        {% if 6 > loop.index %}
          <tr class="minitr">
          <td class="minitd">{{ name[2] }}:</td>
          <td class="minitd">{{ name[0] }} kpl</td>
          </tr>
        {% endif %}
      {% endfor %}
      </table>

    <p>

    <h4>Pisimmät keskimääräiset jonotusajat työvaiheisiin:</h4>
    <table class="minitable">     
    {% for item in queue_durations %}
      {% set str = item[0]|string %}
      {% set pieces = str.split(":") %}
      {% if 11 > loop.index %}
        {% if pieces[0] == "0" and pieces[1] == "00" %}
          <!-- continue - we don't  want to know if there is a 30sec or 0sec queue ;) -->
        {% else %}
        <tr class="minitr">
        <td class="minitd">{{ item[1] }}:</td>
        <td class="minitd">
          {{ pieces[0] }} h
          {{ pieces[1] }} min
        </td>
        </tr>
        {% endif %}
      {% endif %}
    {% endfor %}
    
  </table>

  <p>
    <h4>Suurimmat asiakkaat:</h4>
    <table class="minitable">     
    {% for customer in fav_customers %}
      {% if 11 > loop.index %}
        <tr class="minitr">
        <td class="minitd">{{ customer[0] }}:</td>
        <td class="minitd">{{ customer[1] }} tilausta</td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>

  <div class="column"> </div>

  <div class="column">
    <div id="piechart">

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        // This chart is provided by google and tutorial to make it is mostly from www.w3schools.com
        google.charts.load("current", { "packages": ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn("string", "Product");
          data.addColumn("number", "Count");
          var array = JSON.parse('{{ amount_order_list | tojson }}');
          data.addRows(array);

          var options = { "title": "Tlaustyyppien osuudet", "width": 550, "height": 400, "pieHole": 0.4 };
          var chart = new google.visualization.PieChart(document.getElementById("piechart"));
          chart.draw(data, options);
        }
      </script>

    </div>
  </div>
</div>

{% endblock %}