{% extends "layout.html" %}
{% block title %}Kirjaudu{% endblock %}
{% block content %}


<h4>Eniten merkittyjä työvaiheita:</h4> 
{% for name in hard_worker_list %}
- {{ name[2] }} ({{ name[0] }} kpl)<br>
{% endfor %}

<p>

<h4>Pisimmät keskimääräiset jonotusajat työvaiheisiin:</h4>

{% for item in slowest %}
{{ item[0] }}:   {% set str = item[1]|string %}
                 {% set pieces = str.split(":") %} 
                 {{ pieces[0] }} h
                 {{ pieces[1] }} min
               <br>

{% endfor %}



{% endblock %}