{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h3>TERVETULOA!</h3>
<hr>
<i>Tämä on sovellus tuotannon seurantaan</i>


{% if session.get("user_id",0) %}
    <p>
    Sovellus on tarkoitettu käytettäväksi pientuotannossa, tässä tapauksessa hammaslaboratoriossa.<br>
    Uusi tilaus saa luontivaiheessa ID:n joka merkitään työn mukana kulkevaan paperilähetteeseen.<br>
    Tämän ID:n perusteella tilaukseen liittyviä työvaiheita voi merkitä ylös tai selvittää<br>
    tilauksen sen hetkisen tilan, tai kuka työntekijä on käsitellyt sitä milloinkin. 
    </p>
    <p><b>Testaaja! Muista testata sovellusta myös työnjohtajan oikeuksilla. (admin/pass)</b></p>
{% endif %}

<p>
    Heroku-palvelimella tämä sovellus toimii ajassa UTC.<br>
    Sovelluksen kello: {{ time }}<br>
    Päivämäärä: {{ date }}
<p>
    {% if session.get("user_id",0) %}

    <p>

    <form action="/" method="post" id="tipsform">
        {% if session.get("show_tips",0) == '0':  %}
        <input type="checkbox" id="tips" name="show_tips" value="0" onchange="javascript:handleSelect()" checked>
        {% elif session.get("show_tips",0) == '1': %}
        <input type="checkbox" id="tips" name="show_tips" value="0" onchange="javascript:handleSelect()">
        {% endif %}
        <label for="tips"> Älä näytä pop-up käyttövinkkejä</label>
        <input type="hidden" id="tips_hidden" name="show_tips" value="1">
    </form>


    <script type="text/javascript">
        function handleSelect() {
            if (document.getElementById("tips").checked) {
            document.getElementById("tips_hidden").disabled = true;
            }
            document.getElementById("tipsform").submit();
        }
    </script>

    {% endif%}
{% endblock %}