<!DOCTYPE html>
<link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Tuotannonseuranta</title>
<body>
  <div class="header">
   <h1>Tuotannonseuranta</h1>
  </div>
    
    <nav class="navi">
      <ul>
        <a href="/"><button type="button">Etusivu</button></a>
        {% if (session.get("user_status",0) == 1): %}
        <a href="/admin"><button type="button">Hallinta</Button></a>
        {% endif %}
        {% if session.get("user_id",0) %}
        <a href="/production"><button type="button">Tuotanto</Button></a>
        <a href="/logout"><button type="button">Kirjaudu ulos</Button></a>
        {% else %}
        <a href="/login"><button type="button">Kirjaudu sisään</Button></a>
        {% endif %}
      </ul>
    </nav>

    {% if ((session.get("user_status",0) == 1 or session.get("user_status",0) == 0) and (request.path == "/production" or request.path == "/new_order" or request.path == "/new_event" or request.path == "/seek" or request.path == "/new_customer" or request.path == "/new_clinic" or request.path == "/new_order_type")): %}
 
    <nav class="prod_navi">
        <ul>
          <a href="/new_order"><button type="button">Lisää uusi tilaus</button></a>
        
          <a href="/new_event"><button type="button">Merkitse työvaihe</Button></a>
          
          <a href="/seek"><button type="button">Etsi</Button></a>
        </ul>
    </nav>


  {% elif (request.path == "/admin" or request.path == "/change_status" or request.path == "/charts"): %}

    <nav class="prod_navi">
        <ul>
          <a href="/charts"><button type="button">Tilastot</button></a>
          
          <a href="/change_status"><button type="button">Muuta käyttäjän oikeuksia</Button></a>
        </ul>
    </nav>

  {% endif %}
  


<div class="container">
  {% block content %}{% endblock %}
      
</div>

</body>