<!DOCTYPE html>
<link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Tuotannonseuranta</title>

<body>

  <div class="header">
    <h1>Tuotannonseuranta</h1>
  </div>

  <nav class="navi">
    <ul>
      <a href="/"><button type="button" class="mainButton">Etusivu</button></a>
      {% if (session.get("user_status",-1) == 1): %}
      <a href="/admin"><button type="button" class="mainButton">Hallinta</Button></a>
      {% endif %}
      {% if session.get("user_id",0) %}
      <a href="/production"><button type="button" class="mainButton">Tuotanto</Button></a>
      <a href="/logout"><button type="button" class="mainButton">Kirjaudu ulos</Button></a>
      {% else %}
      <a href="/login"><button type="button" class="mainButton">Kirjaudu sisään</Button></a>
      {% endif %}
    </ul>
  </nav>

  {% if ((session.get("user_status",-1) == 1 or session.get("user_status",-1) == 0) and (request.path == "/production" or request.path == "/new_order" or request.path == "/new_event" or "/seek" in request.path or request.path == "/new_customer" or request.path == "/new_clinic" or request.path == "/new_order_type" or request.path == "/seek_by_user")): %}

  <nav class="prod_navi">
    <ul>
      <a href="/new_order"><button type="button" class="mainButton">Lisää uusi tilaus</button></a>
      <a href="/new_event"><button type="button" class="mainButton">Merkitse työvaihe</Button></a>
      <a href="/seek"><button type="button" class="mainButton">Etsi</Button></a>
    </ul>
  </nav>


  {% elif ("/admin" in request.path  or request.path == "/change_status" or request.path == "/charts"): %}

  <nav class="prod_navi">
    <ul>
      <a href="/charts"><button type="button" class="mainButton">Tilastot</button></a>
      <a href="/change_status"><button type="button" class="mainButton">Muuta käyttäjän oikeuksia</Button></a>
    </ul>
  </nav>

  {% endif %}

  <div class="container">

    <div class="container-alert">
      <div class="row">
        <div class="column">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class="alert-{{ category }}">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
    <p>
    {% block content %}{% endblock %}
  </div>
</body>