{% extends "layout.html" %}
{% block title %}Kirjaudu{% endblock %}
{% block content %}

Lisää uusi tuote:
<hr>

<form action="/new_order_type" method="post">
Tuote: <input type="text" name="product" required minlength="5" maxlength="30">
<p>
Päämateriaalit: <input type="text" name="materials" required minlength="2" maxlength="30">
<p>
<input type="submit" value="Luo tuote">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<hr>
<a href="javascript:history.go(-1)"><Button>Takaisin</Button></a>

{% endblock %}