{% extends "layout.html" %}
{% block title %}Kirjaudu{% endblock %}
{% block content %}


Lisää työvaihe tilaukselle:
<hr>

<form action="/new_event" method="post" id="eventform">
Tilauksen id: <input type="text" name="order_id" form="eventform" required minlength="1" maxlength="30">
<p>
Työvaiheen kuvaus: <input type="text" name="description" form="eventform" minlength="3" maxlength="30" required>
<form>
  <input type="radio" id="is_pending" name="is_pending" value="1" checked="checked" form="eventform">
  <label for="is_pending">Jonossa</label>
  <input type="radio" id="is_not_pending" name="is_pending" value="0" form="eventform">
  <label for="is_not_pending">Työn alla</label><br>
</form> 
Käsittelijä: {{ user_data[1] }}
<p>
<input type="submit" value="Lisää työvaihe" form="eventform">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" form="eventform">
</form>


{% endblock %}