{% extends "layout.html" %}
{% block title %}Kirjaudu{% endblock %}
{% block content %}


Lisää uusi asiakkaan toimipiste:
<hr>


Toimipisteen nimi: <input type="text" name="name" form="clinicform" required minlength="3" maxlength="30">
<p>
  Laskutusosoite: <input type="text" name="adress" form="clinicform" required minlength="3" maxlength="30">
<p>
  Postinumero: <input type="text" name="postal" form="clinicform" required minlength="5" maxlength="5">
<p>

  <label for="city">Kaupunki/kunta:</label>
  <select id="city" name="city" form="clinicform" required>
    <option value=""></option>
    {% for city in citys %}
    <option value="{{ city[0] }}">{{ city[0] }}</option>
    <hr>
    {% endfor %}
  </select>
<p>

<form action="/new_clinic" method="post" id="clinicform">
  <input type="submit" class="mainButton" value="Luo toimipiste">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<hr>
<a href="javascript:history.go(-1)"><Button class="mainButton">Takaisin</Button></a>

{% endblock %}