{% extends "layout.html" %}
{% block title %}Kirjaudu{% endblock %}
{% block content %}


<h3>Lisää työvaihe tilaukselle:</h3>
<hr>
<p>

<form action="/new_event" method="post" id="eventform">
  <div class="tooltip">
    <label for="order_id">Tilauksen ID:</label>
    <select id="order_id" name="order_id" form="eventform" required novalidate>
      <option value=""></option>
      {% for order in order_list %}
      <option value="{{ order[0] }}">{{ order[0] }}</option>
      {% endfor %}
    </select>
    {% if session.get("show_tips",0) == '1': %}
    <span class="tooltiptext">Löydät ID:n lähetteestä</span>
    {% endif %}
  </div>
  
    
  <p>

  <div class="tooltip">
    Työvaiheen kuvaus: <input autocomplete="on" type="text" name="description" form="eventform" minlength="3"
      maxlength="30" required>
    <form>
      <input type="radio" id="is_pending" name="is_pending" value="1" checked="checked" form="eventform">
      <label for="is_pending">Jonossa</label>
      <input type="radio" id="is_not_pending" name="is_pending" value="0" form="eventform">
      <label for="is_not_pending">Työn alla</label>
      {% if session.get("show_tips",0) == '1': %}
      <span class="tooltiptext">Valitse 'Työn alla' jos aloitat työvaiheen tekemisen saman tien</span>
      {% endif %}
  </div>
  <p>

  <div class="tooltip">
    Kirjaa tilaus samalla ulos:
    <input type="radio" id="not_out" name="in_progress" value="1" checked="checked" form="eventform">
    <label for="not_out">Ei</label>
    <input type="radio" id="out" name="in_progress" value="0" form="eventform">
    <label for="out">Kyllä</label>
    {% if session.get("show_tips",0) == '1': %}
    <span class="tooltiptext">Valitse 'Kyllä' jos työvaihe on tilauksen viimeinen, esim. laskutus tai lähetys.</span>
    {% endif %}
  </div>
  <p>
    Käsittelijä: {{ user_data[1] }}
</form>


<p>
  <input type="submit" class="mainButton" value="Lisää työvaihe" form="eventform">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" form="eventform">
  </form>



  {% endblock %}