{% extends "layout.html" %}
{% block title %}Tuotanto{% endblock %}
{% block content %}


Tuotanto
<hr>
TÄNÄÄN {{ date.strftime("%d.%m.%Y - %A") }} 
<p>

Tänään toimitettavat tilaukset:

<p>

<hr>
Ei vielä lähetetty:
<p>
Toimitusaika | Tilauksen id | Tilaustyyppi (materiaali) | Asiakas | Toimipiste | Kaupunki | Tilaus jätetty | Tila
<hr>
{% for order in order_list %}
    {% if (order[11] == 1): %}  
        {{ order[9].strftime("%d.%m.%Y %H:%M") }} | {{ order[0] }} | {{ order[2] }} ({{ order[3] }}) | {{ order[5] }} | {{ order[7] }} | {{ order[8] }} | {{ order[10].strftime("%d.%m.%Y %H:%M") }} | TYÖN ALLA
    {% endif %}
<hr>
{% endfor %}
<hr>
Lähetetyt tilaukset:
<p>

{% for order in order_list %}
    {% if (order[11] == 0): %}  
        {{ order[9].strftime("%d.%m.%Y %H:%M") }} | {{ order[0] }} | {{ order[2] }} ({{ order[3] }}) | {{ order[5] }} | {{ order[7] }} | {{ order[8] }} | {{ order[10].strftime("%d.%m.%Y %H:%M") }} | LÄHETETTY
    {% endif %}
<hr>
{% endfor %}


{% endblock %}