{% extends "layout.html" %}
{% block title %}Etsi{% endblock %}
{% block content %}

<h4>Tapahtumat, joissa käsittelijänä {{ username }}</h4>
<p>
<div class="tooltip">
  <h4>Työvaiheet tuotannossa</h4>
  {% if session.get("show_tips",0) == '1': %}
  <span class="tooltiptext tooltip-right">Hae tilauksen tiedot ja kaikki tapahtumat klikkaamalla ID:tä</span>
  {% endif %}
</div>

<table>
  <tr>
    <th>Aikaleima</th>
    <th>Tilauksen id</th>
    <th>Työvaihe</th>
    <th>Käsittelijä</th>
    <th>Edistyminen</th>
  </tr>
  {% if user_id %}
  {% set uid = user_id|int() %}
  {% for event in event_list %}
  {% if (event[1] == uid) %}
  <tr>
    <td>{{ event[3].strftime("%d.%m.%Y %H:%M") }}</td>
    <td><a href="/seek/?order_id={{ event[0] }}">{{ event[0] }}</a></td>
    <td>{{ event[2] }}</td>
    <td>{{ event[5] }}</td>
    {% if (event[4] == 0) %}
    <td>Käsittelyssä/käsitelty</td>
    {% else %}
    <td>Jonossa</td>
    {% endif %}
  </tr>
  {% endif %}
  {% endfor %}
  {% endif %}
</table>

{% endblock %}